.p-menuitem-link {
  background-color: #ffffff !important;
}

.p-menu {
  background-color: #ffffff !important;
}

/* .p-component {
  background-color: #ffffff !important;
} */

/* .p-menu-overlay {
  background-color: #ffffff !important;
} */

/* .p-ripple-disabled {
  background-color: #ffffff !important;
} */